.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 5% auto;
}

.product-card {
  max-height: 100%;
  width: 300px;
  padding: 2%;
  margin: 2%;
  border: 1px solid grey;
  border-radius: 15px;
}
