<div class="product-container">
  <div *ngFor="let product of products$ | async" class="product-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{product.image}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
        <hr>
        {{product.category}}
        {{product.rating.rate}}
        {{product.rating.count}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
